[submodule "android_mix"]
	path = plugins/android_mix
	url = https://github.com/lan-file-more/android_mix.git
[submodule "lan_file_more_umeng"]
	path = plugins/lan_file_more_umeng
	url = https://github.com/lan-file-more/lan_file_more_umeng.git
[submodule "plugins/storage_mount_listener"]
	path = plugins/storage_mount_listener
	url = https://github.com/lan-file-more/storage_mount_listener.git
[submodule "plugins/file_editor"]
	path = plugins/file_editor
	url = https://github.com/lan-file-more/file_editor.git