[submodule "android_mix"]
	path = plugins/android_mix
	url = https://github.com/lan-file-more/android_mix.git
	ignore = dirty
[submodule "lan_file_more_umeng"]
	path = plugins/lan_file_more_umeng
	url = https://github.com/lan-file-more/lan_file_more_umeng.git
	ignore = dirty
[submodule "dev-progress"]
	path = dev-progress
	url = https://github.com/lan-file-more/dev-progress.git
	ignore = dirty
# [submodule "android_tile_service"]
# 	path = plugins/android_tile_service
# 	url = https://github.com/lan-file-more/android_tile_service.git
